.cart-container{
    margin: 1rem 0px;
}
.grid-container{
    border-bottom: 1px solid #b3b3b3;
    margin-top: 0.5rem;
}
.div-img-item{
    display: flex;
    align-content: center;
    justify-content: center;
}
.img-item{
    width: 75%;
}
.h2-item{
    background-color: #e9e8e8;
    border-bottom: 1px solid #b3b3b3;
    padding: 0px 1rem;
    margin: 0px;    
}
.p-group{
    margin-top: 2rem; 
}
.p-item{
    margin:0.5rem 0px;
    padding: 0px 1rem;
    font-weight: bold;
    font-style:italic;
}
.p-variable{
    display: inline;
    font-weight: normal;
    font-style:normal;
}
.div-list{
    align-content: flex-end;
}
.list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem; 
    margin-top: 3rem;  
}
.list-group-item{
    display: flex;
    position: relative;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,.125);
}
.cart-delete-btn{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}
.cart-delete-btn .cart__btn:hover{
    background-color: lightslategray; 
}

.div-btn-ItemDelete{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-btn-ItemDelete .cart__btnItem:hover{
    background-color: lightslategray;
}

.link-end{
    color: white;
    text-decoration:none;
}

.form-container{
    border: 1px solid #b3b3b3;
    margin-top: 1rem;
    padding: 0px 1rem 1rem 1rem;
    margin-bottom: 30%;
}
.form__h2{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.form__div{
    padding:0.25rem 0px 0.25rem 0px;
}
.form__btncontainer{
    display: inline-flex;
    align-items: center;
    padding:0.25rem 0px 0.25rem 0px;
}
.form__divbtn{
    display: inline-flex;
    padding-right: 0.5rem;
}
.form__label{
    display: inline-block;
    width: 9rem;
}
.form__input{
    width: 13rem;
}
.form__validation{
    color: red;
    font-weight: bold;
    font-style: italic;
}
.form-container .form__submit{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2pxrgba(0,0,0,0.2),0px 2px 2px 0pxrgba(0,0,0,0.14),0px 1px 5px 0pxrgba(0,0,0,0.12);
}
.form-container .form__submit:hover{
    background-color: lightslategray;
}
.form-container .form__btn:hover{
    background-color: lightslategray;
}

.carritoVacio{
    margin-bottom: 65%;
}

@media only screen and (max-width: 900px) {
    .form__btncontainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    .form__divbtn{    
        padding: 0.5rem;
    }

}

.cart__btnItem{
    background-color: #7ecc00 !important;
}

.form__submit{
    background-color: #7ecc00 !important;
}

.form__btn{
    background-color: #7ecc00 !important;
}