.container__gral{
    font-weight:bold;    
}

.container__gral .itemcount{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 2.5px;    
}

.itemcount p{
    padding: 5px 2.5px; 
    border: 2px solid #e9e8e8;
    border-radius: 5px;
    width: 100%;
    font-size: 17px;
    text-align: center;
}
.container__gral .container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__gral .container-btn .btn-carrito:hover{
    background-color: lightslategray; 
}

.btn-carrito{
    background-color: #7ecc00 !important;
}
